body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Loader css */
.loader-full-screen {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #61dafb;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#earth {
  width: 300px;
  height: 300px;
  background: url(https://thumbs.werkaandemuur.nl/1/0e6fbd25915b44f13aedaef55aa331c2/817x600/thumbnail/fit.jpg);
  border-radius: 50%;
  background-size: 610px;
  box-shadow: inset 8px 36px 80px 36px rgba(0, 0, 0, 0.5), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
  animation-name: rotate;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@keyframes rotate {
  0% {
    background-position: 0px 0px;
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    background-position: 610px 0px;
    transform: rotate(0deg);
  }
}

/* Home css */
button {
  margin: 2px;
  padding: 0 7px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #773434;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.home-container {
  padding: 50px;
  min-height: 100vh;
  background-color: #61dafb;
}
.country-list-container {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 5px;
}
.chip {
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  padding: 0 7px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #f1f1f1;
}
/* Form style */
form {
  margin-top: 30px;
}
form label {
  margin-right: 20px;
}
form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* modal email sended style */
.modal {
  position: absolute;
  top: 10vh;
  bottom: 10vh;
  right: 10vw;
  left: 10vw;
  background-color: rgba(72, 14, 14, 0.9);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
